// Place all the styles related to the groceries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
	padding: 0;
	margin: 0;
}
html, body {
	background: #eee;
	font-family: 'Raleway', sans-serif;
}
a:hover {
	color: #3f74bc;
}
div#wrapper {
	display: block;
	margin: auto;
	width: 40%;
 h1 {
 	color: #0072bc;
 	padding: .5em 0 .3em 0;
 	text-transform: capitalize;
 }
 p.grocery-list {
	padding: 0 0 .5em 0;
	color: #f1a02c;
 }
}

div.groceries-container {
	padding: 2em;
	width: 100%;
	display: block;
	text-shadow: 1em;
	div.groceries {
	width: 100%;
	}
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0 0 3em;
	}
	li {
		background: url('icon.png') no-repeat .4em center;
		padding: 1em 0 .5em 2em;
		font-size: 1.3em;
		text-transform: capitalize;
	}
	& ul .edit {
		padding: 0 0 1em 0;
		font-size: .80em;
	}
	.new-item {
		font-weight: 800;
		color: #f7941d;
		padding: 1.2em;
		background: url('add-icon.png') no-repeat -.1em center;
	}
	.new-item:hover {
		 color: #3f74bc;
	}
}

div.submit {
	padding: .5em;
}
//form items
form {
	margin: auto;
	width: 100%;
	padding: 1em;
}
